/*.error{*/
/*  color: red;*/
/*}*/
/*.errorInput{*/
/*  border: 1px solid red;*/
/*}*/
/*.errorInput:focus{*/
/*  outline: red;*/
/*}*/
.activeFilter{
  background-color: aquamarine;
}
.isDone{
  opacity: 0.5;
}
.todoTitle{
  display: flex;
}
.todoTitle button{
  height: 20px;
  margin-top: 20px;
}